---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
<h1 class="mb-4 text-2xl font-medium">About me</h1>
    <div class="min-w-full">
      <div class="prose mb-8">
        <p class="mt-0">
        I am Jean-Pierre, otherwise known as JP or Jeii_Pii. I've spent 5 years in cybersecurity, mostly on the defensive side. But starting in 2024, I began seriously focusing on offensive security, exploring a wide range of cybersecurity domains along the way.
        </p>
        <p>
        Cybersecurity is more than just a career it's a passion that drives me to continuously learn, experiment, and stay ahead.
        </p>
        <p>
Outside of cybersecurity, I’m into cooking up new recipes, getting some exploration in with games, and staying active through airsoft and fitness. I also value unplugging from the screen to spend quality time with my girlfriend it’s all about balance.        </p>
      </div>

      <h2 class="mb-4 text-2xl font-medium">Certficates</h2>
          <div class="prose mb-8">
              <ul class="list-disc">
                <li>OSCP(+) - 2025</li>
                <li>CPTS - 2024</li>
                <li>PTH - 2022</li>
                <li>BLT1 - 2021</li>
                <li>eJPT - 2020</li>
              </ul>
          </div>
<!--      <h2 class="mb-4 text-2xl font-medium">Example Projects Listing</h2>
      <div class="flex flex-col gap-4">
        {projects.map((project) => <ProjectCard project={project} />)}
      </div> -->
    </div>
  </section>
</Layout>
